html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(10, 36, 63, 0.9);
}

nav {
  width: 100vw;
  height: 3.5rem;
  padding-right: calc(10vw / 4);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(252, 252, 247, 1);
  font-family: "Gugi", sans-serif;
}

/* #logo {
  margin-left: 8px;
  margin-right: 16px;
  width: 2.5rem;
  height: 2.5rem;
} */

#board_id {
  margin-left: auto;
}

h1 {
  font-family: "Cute Font", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-left: 12px;
}

h1 a {
  text-decoration: none;
  color: rgba(252, 252, 247, 1);
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 3.5rem);
}

.landing_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 45vw;
  height: calc((90vw - 4rem) / 2);
}

h2 {
  font-family: "Cute Font", sans-serif;
  font-size: 3rem;
}

#plus {
  font-size: 20rem;
}

#board_name {
  font-size: 2rem;
  width: auto;
}

.board_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: calc(3.5rem + 16px);
}

.board {
  width: 30vw;
  min-height: calc(100vh - 8rem - 32px);
  padding: 8px;
  border-radius: 2px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px 0 12px 0;
}

.header > h2 {
  font-family: "Cute Font", sans-serif;
  font-size: 3rem;
}

#header--stop {
  color: rgba(188, 50, 50, 1);
}

#header--go {
  color: rgba(137, 186, 31, 1);
}

#header--continue {
  color: rgba(37, 126, 221, 1);
}

.header > .header--symbol {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 16px;
}

#board--stop {
  background: rgba(188, 50, 50, 0.2);
}

#board--go {
  background: rgba(137, 186, 31, 0.2);
}

#board--continue {
  background: rgba(37, 126, 221, 0.2);
}

.topic {
  margin: 6px 8px;
  border-radius: 2px;
  padding: 8px;
  font-family: "Ubuntu Mono", sans-serif;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.topic p {
  width: calc(100% - 2rem - 16px);
  align-self: flex-start;
}

#board--stop .topic {
  border: 1px solid rgba(188, 50, 50, 1);
  color: rgba(188, 50, 50, 1);
}

#board--go .topic {
  border: 1px solid rgba(137, 186, 31, 1);
  color: rgba(137, 186, 31, 1);
}

#board--continue .topic {
  border: 1px solid rgba(37, 126, 221, 1);
  color: rgba(37, 126, 221, 1);
}

.hidden {
  display: none;
}

/* not working yet
input[type="checkbox"]:checked + .strikethrough--stop {
  background-color: rgba(188, 50, 50, 1);
  border: 1px solid black !important;
} */

.strikethrough {
  height: 1rem;
  width: 1rem;
  border-radius: 2px;
}

.strikethrough--stop {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(188, 50, 50, 1);
}

.strikethrough--go {
  border: 1px solid rgba(137, 186, 31, 1);
}

.strikethrough--continue {
  border: 1px solid rgba(37, 126, 221, 1);
}

.delete {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  height: 1rem;
  width: 1rem;
  padding: 0;
  padding-top: 6px;
  font-size: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 0;
  font-family: "Ubuntu Mono", sans-serif;
}

.delete--stop {
  border: 1px solid rgba(188, 50, 50, 1);
}

.delete--go {
  border: 1px solid rgba(137, 186, 31, 1);
}

.delete--continue {
  border: 1px solid rgba(37, 126, 221, 1);
}

#add_topic {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3.5rem;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: rgba(10, 36, 63, 1);
}

#add_topic > form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#new_topic {
  height: 2rem;
  width: 23rem;
  border-radius: 2px;
  border: 1px rgba(252, 252, 247, 1) solid;
  padding: 8px;
  background-color: rgba(10, 36, 63, 0.1);
  color: rgba(252, 252, 247, 1);
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 1rem;
}

#new_topic::placeholder {
  color: rgba(252, 252, 247, 0.5);
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#new_topic:focus {
  background-color: rgba(10, 36, 63, 1);
  outline-color: rgba(252, 252, 247, 1);
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.input button {
  cursor: pointer;
  margin-left: 20px;
  border-radius: 2px;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 1rem;
  background-color: rgba(252, 252, 247, 1);
  color: rgba(10, 36, 63, 1);
}

.input button:hover,
.input button:focus {
  outline-color: rgba(252, 252, 247, 1);
  background-color: rgba(10, 36, 63, 0.1);
  color: rgba(252, 252, 247, 1);
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 8px;
}

.radio-button {
  margin: 0 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_symbol {
  height: 24px;
  width: 24px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + .icon-container {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border-radius: 2px;
}

input[type="container"] + .icon-container {
  background-color: none;
  border: none;
}

input[type="radio"] + .stop {
  padding: 7px 7px;
}

input[type="radio"] + .go {
  padding: 7px 8px;
}

input[type="radio"] + .continue {
  padding: 6px 8px;
}

input[type="radio"] + .stop:hover {
  background-color: rgba(188, 50, 50, 0.15);
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

input[type="radio"] + .go:hover {
  background-color: rgba(137, 186, 31, 0.1);
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

input[type="radio"] + .continue:hover {
  background-color: rgba(37, 126, 221, 0.1);
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

input[type="radio"]:checked + .stop {
  padding: 6px 6px;
  border: 1px solid rgba(188, 50, 50, 1);
  background-color: rgba(188, 50, 50, 0.15);
  -webkit-transition: border 0.1s ease-out, padding 0.1s ease-out;
  -moz-transition: border 0.1s ease-out, padding 0.1s ease-out;
  -o-transition: border 0.1s ease-out, padding 0.1s ease-out;
  transition: border 0.1s ease-out, padding 0.1s ease-out;
}

input[type="radio"]:checked + .go {
  padding: 6px 7px;
  border: 1px solid rgba(137, 186, 31, 1);
  background-color: rgba(137, 186, 31, 0.1);
  -webkit-transition: border 0.1s ease-out, padding 0.1s ease-out;
  -moz-transition: border 0.1s ease-out, padding 0.1s ease-out;
  -o-transition: border 0.1s ease-out, padding 0.1s ease-out;
  transition: border 0.1s ease-out, padding 0.1s ease-out;
}

input[type="radio"]:checked + .continue {
  padding: 5px 7px;
  border: 1px solid rgba(37, 126, 221, 1);
  background-color: rgba(37, 126, 221, 0.1);
  -webkit-transition: border 0.1s ease-out, padding 0.1s ease-out;
  -moz-transition: border 0.1s ease-out, padding 0.1s ease-out;
  -o-transition: border 0.1s ease-out, padding 0.1s ease-out;
  transition: border 0.1s ease-out, padding 0.1s ease-out;
}

/*
  red: #bc3232 rgba(188,50,50,1)
  green: #89ba1f rgba(137,186,31,1)
  blue: #257edd rgba(37,126,221,1)
  black: #0a243f rgba(10,36,63,1)
  white: #fcfcf7 rgba(252,252,247,1)
*/
