html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  red: #bc3232
  green: #89ba1f
  blue: #257edd
  black: #0a243f
  white: #fcfcf7
*/

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0a243f;
  color: #fcfcf7;
  font-family: "Gugi", sans-serif;
}

#logo {
  margin-left: 8px;
  margin-right: 16px;
  width: 3rem;
  height: 3rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

main {
  padding-top: 4rem;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 4rem);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 45vw;
  height: calc((90vw - 4rem) / 2);
}

h2 {
  font-size: 2.827rem;
}

#plus {
  font-size: 20rem;
}

#board_name {
  font-size: 2rem;
  width: auto;
}
