<div id="container">
  <section class="landing_button" id="join">
    <label for="board_name"></label>
    <input type="text" id="board_name" name="board_name" placeholder="1234">
    <h2>Join a board</h2>
  </section>
  <a href="/create">
    <section class="landing_button" id="create">
      <h2 id="plus">&plus;</h2>
      <h2>Create a board</h2>
    </section>
  </a>
</div>