<div>
  <section id="join">
    <label for="board_name"></label>
    <input type="text" id="board_name" name="board_name" placeholder="1234">
    <p>Join a board</p>
  </section>
  <section id="create">
    <p>&plus;</p>
    <p>Create a board</p>
  </section>
</div>
